*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: brown;
    margin-bottom: 10px;
    font-family: serif;
}
.title{
    font-size: 100px;
    text-align: center;
}
.ul li{
    display: inline-block;
}
ul {
    list-style: none;

}
.ul a{
    box-sizing:content-box;
    color: white;
    background-color:  #13a4a4;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}

    